body {
  font-family: "Segoe UI", sans-serif;
  text-align: center;
  background: #f4f6f8;
  margin: 0;
  padding: 0;
}

h1 {
  background: #4caf50;
  color: white;
  padding: 12px;
  margin: 0;
}

#map {
  height: 90vh;
  width: 100%;
  border-top: 3px solid #388e3c;
}
